*.pyc
/data/2008.1.csv
/data/2008.10.csv
/data/2008.2.csv
/data/2008.3.csv
/data/2008.4.csv
/data/2008.5.csv
/data/2008.6.csv
/data/2008.7.csv
/data/2008.8.csv
/data/2008.9.csv
/doc/bpmc.aux
/doc/bpmc.dvi
/doc/bpmc.log
/doc/bpmc.out
/doc/bpmc.pdf
